<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<!-- 
			<property name="hibernate.connection.url">
				your connection url according to database/Database name(can put any name)
			</property> 
		-->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">9969</property>
		<!-- 
			<property name="hibernate.dialect">
				your dialect name should be specific to the database you are using
			</property> 
		-->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- Put your entity mappings below -->
	</session-factory>
</hibernate-configuration>

